.container{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 10vh;
}
p{
    text-align: center;
    color: white;
}
.loaderWrap{
    position: absolute;
}
.paginationContainer{
    position: fixed;
    bottom: 0vh;
}
input[type="number"] {
width: 4vw;
text-align: center;
height: 19.5px;
min-width: 30px;
appearance: button;
}
.paginationLetter{
background-color: rgb(238, 220, 220);
color: black;
height: 20px;
}
.just-cont-center{
display: flex;
justify-content: center;
}
.real{
    background-color: white;
    position: relative;
}
.real:hover{
top: 1px;
background-color: rgb(233, 225, 225);
}
.pageNumber{
    color: white;
    margin: 0 5px;
    font-weight: bold;
    width: 56px;
    height: 27px;
    text-align: center;
}
