.container{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
p{
    text-align: center;
    color: white;
}
.loaderWrap{
    position: absolute;
}