<div class="container" (mousemove)=changeBgImgPosition($event)>
  <form action="" (ngSubmit)="onsubmitHeroForm()" [formGroup]="createHeroForm">
    <div class="row">
    <div class="col-md-6">
      <label for="inputSuperheroNickname">Superhero nickname</label>
      <input type="text" class="form-control" id="inputSuperheroNickname" required formControlName="superheroNickname">
    </div>
    <div class="col-md-6">
      <label for="inputSuperheroRealname">Superhero real name</label>
      <input type="text" class="form-control" id="inputSuperheroRealname" required formControlName="superheroRealname">
    </div>
    <div class="col-md-6">
      <label for="inputSuperheroOriginDescription">Origin description</label>
      <textarea name="" class="form-control" id="inputSuperheroOriginDescription" cols="90" rows="1.5" required
        formControlName="superheroOriginDescription"></textarea>
    </div>
    <div class="col-md-6">
      <label for="inputSuperPowers">Super powers</label>
      <input type="text" class="form-control" id="inputSuperPowers" required formControlName="superPowers">
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <label for="inputCatchPhrase">Catch phrase</label>
      <input type="text" class="form-control" id="inputCatchPhrase" required formControlName="catchPhrase">
    </div>
  </div>
    <div class="imageBlock row justify-content-center">
      <img #imgHero class="imgHero" src="/assets/img/Space.jpg">
        <label for="inputFileSuperheroImg" class="labelForInputFileSuperheroImg btn-primary">Choose superhero image</label>
        <input type="file" class="form-control-file" id="inputFileSuperheroImg" (change)="addHeroImg($event)">
    </div>
    <div class="row justify-content-center" >
      <button *ngIf="!crudHeroService.changeHero; else buttonsChangeHero" type="submit"
      class="btn btn-primary btn-lg height">Add hero to the list</button>
    </div>
    <ng-template #buttonsChangeHero>
      <div class="changeHeroButtonsWrapper">
        <button type="button" class="btn btn-primary height width" (click)="changeHero()">Change</button>
        <button type="button" class="btn btn-danger height width" (click)="cancellChangeHero()">Cancel</button>
      </div>
    </ng-template>
  </form>
</div>
<div class="row">
  <div class="col-sm-0 col-md-12 hulkImg" #hulk ></div>
  <div class="supermanImg" #superman></div>
  <div class="wonderWomanImg" #wonderWoman></div>
</div>
