<div class="container">
  <form action="" (ngSubmit)="onsubmitHeroForm()" [formGroup]="createHeroForm">
      <div>
        <label for="inputSuperheroNickname">Superhero nickname</label>
        <input type="text" class="form-control" id="inputSuperheroNickname" required formControlName="superheroNickname">
      </div>
      <div>
        <label for="inputSuperheroRealname" >Superhero real name</label>
        <input type="text" class="form-control" id="inputSuperheroRealname" required formControlName="superheroRealname">
      </div>
      <div>
        <label for="inputSuperheroOriginDescription" >Origin description</label>
        <textarea name="" class="form-control" id="inputSuperheroOriginDescription" cols="90" rows="3"
          required formControlName="superheroOriginDescription"></textarea>
      </div>
      <div>
        <label for="inputSuperPowers">Super powers</label>
        <input type="text" class="form-control" id="inputSuperPowers" required formControlName="superPowers">
      </div>
      <div>
        <label for="inputCatchPhrase">Catch phrase</label>
        <input type="text" class="form-control" id="inputCatchPhrase" required formControlName="catchPhrase">
      </div>
      <button type="submit" class="btn btn-primary">Add hero to the list</button>
  </form>
  <div>
    <label for="inputFileSuperheroImg" class="labelForInputFileSuperheroImg">Choose superhero image</label>
    <input type="file" class="form-control-file" id="inputFileSuperheroImg" (change)="addPhoto($event)">
  </div>
  <app-image-hero *ngFor="let heroImage of superheroImages"></app-image-hero>
</div>
